{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style >body {background-image:url("/static/Saved pictures/pexels-lumn-311039.jpg"); background-attachment: fixed;background-size: cover; background-repeat: no-repeat;}</style>
</head>
<body >
    <h1>Login to proceed or register if you don't have a Dee account</h1>
    
    <form action="login">
        <input type="submit" value="login">
    </form>
    
    
    <h3><a href="accounts/register">Register</a></h3>

</body>
</html>