{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style >body {background-image:url('/static/Saved pictures/pexels-creative-stash-studio-768943.jpg'); background-attachment: fixed;background-size: cover; background-repeat: no-repeat;}</style>
</head>
<body style="background-color: wheat;">
    <h2 style="text-align: center;"<i>Hello {{user.first_name}} darling</i></h2>

    <form action="home">
        <br><br><h2 style="text-align: center;"><input type="submit" value= 'proceed'></h2>
    </form>
</body>
</html>